<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/file/shop/style.css" />
    <script src="/file/shop/main.js" defer></script>
    <title>surasang</title>
  </head>

  <body>
    <div class="container">
      <!-- ----------- header -----------  -->
      <div class="header">
        <h1><a href="/main">수라상</a></h1>
        <ul class="nav">
          <li><a href="/main">HOME</a></li>
          <li><a href="/shop">식당</a></li>
          <li><a href="#">밥친구</a></li>
          <li><a href="#">검색</a></li>
        </ul>
      </div>
      <!-- ----------- main -----------  -->
      <div class="main">
        <h3 class="title">식당 상세정보</h3>

        <h3 class="cate">{{name}}</h3>
        
            
            
        <p class="info">notice<br>{{notice}}</p><br>
        <p class="info">open<br>{{opening_hour}}</p><br>
        <p class="info">location<br>{{location_desc}}</p><br>
            
        
        
      </div>
    </div>
  </body>
</html>