<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/file/shop/style.css" />
    <script src="/file/shop/main.js" defer></script>
    <title>surasang</title>
  </head>

  <body>
    <div class="container">
      <!-- ----------- header -----------  -->
      <div class="header">
        <h1><a href="/main">수라상</a></h1>
        <ul class="nav">
          <li><a href="/main">HOME</a></li>
          <li><a href="/shop">식당</a></li>
          <li><a href="#">밥친구</a></li>
          <li><a href="#">검색</a></li>
        </ul>
      </div>
      <!-- ----------- main -----------  -->
      <div class="main">
        <h3 class="title">식당정보</h3>

        <h3 class="cate">학식</h3>
        <ul>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/1001">학생회관 푸드코트</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/1002">진관키친</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/1003">계절밥상</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/1004">군자키친</a></p>
          </li>
        </ul>


        <h3 class="cate">식당</h3>
        <ul>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/2001">얌샘김밥</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/2002">미스사이공</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/2003">석관동떡볶이</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/2004">리얼후라이</a></p>
          </li>
        </ul>




        <h3 class="cate">카페</h3>
        <ul>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3001">팬도로시</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3002">투썸플레이스</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3003">카페딕셔너리</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3004">파리바게뜨</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3005">카페딕셔너리2</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3006">제주몰빵</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/3007">카페드림</a></p>
          </li>
        </ul>





        <h3 class="cate">편의점</h3>
        <ul>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/4001">CU</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/4002">이마트24</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/4003">이마트24_2</a></p>
          </li>
          <li class="shop">
            <a href="#"
              ><div class="img_wrap">
                <img class="shop_img" src="images/sejong.png" /><span
                  class="closed"
                  >closed</span
                >

                <input
                  class="show_menu"
                  type="button"
                  onclick="location.href='';"
                  value="메뉴보기"
                /></div
            ></a>
            <p class="shop_name"><a href="/shop/4004">매점</a></p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
